:root {
    --theme01: #000000;
    --theme02: #004ddc;
    --theme03: #068FFF;
    --theme04: #EEEEEE;
    --theme05: #4dd325;
}

body {
    background: var(--theme03);
}

.btn-primary {
    --bs-btn-bg: var(--theme02);
}

.outline-section {
    border: 1px solid var(--theme04);
    border-radius: 25px;
    color: white;
}

.btn-secondary {
    --bs-btn-bg: #494949;
}

.ht-primary {
    font-family: 'Merriweather', serif;
}

.ht-secondary {
    font-family: 'Kanit', sans-serif;
}

.game-card {
    width: 33vw;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
    background-color: var(--theme04);
    border: 1px solid var(--theme04);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
    text-transform: uppercase;
}

.game-card p {
    color: var(--theme02);
    font-size: 1.5em;
    padding: 20px;
}

.game-card:hover {
    transform: translateZ(12px);
    box-shadow: none;
}

@media screen and (max-width: 1024px) {
    .game-card {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {
    .game-card {
        width: 80vw;
    }
}

@media screen and (max-width: 426px) {
    .game-card {
        width: 80vw;
        height: 80vh;
    }
}

.nav-pill {
    background-color: var(--theme02) !important;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .nav-pill {
        border-radius: 25px;
    }
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.pack-unselected,
.pack-selected {
    background: rgba(222, 222, 222, 0.75);
    border: 3px solid var(--theme02);
    transition: all 0.3s ease;
}

.pack-selected {
    background: #ffffff;
    border: 3px solid var(--theme05);
    transform: scale(1.025);
}

.player-count-option,
.cards-per-player-option {
    width: 100px;
    height: 100px;
    background-color: rgba(222, 222, 222, 0.75);
    border: 3px solid var(--theme02);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    color: black;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.player-count-option.selected,
.cards-per-player-option.selected {
    background-color: #ffffff;
    border: 3px solid var(--theme05);
    transform: scale(1.025);
}

.svg-bottom {
    margin-bottom: -5px;
}

.label-top-center {
    position: relative;
    text-align: center;
    top: -65px;
    margin: 0 auto;
    display: table;
    background-color: var(--theme03);
    padding: 5px 20px;
    border-radius: 10px;
}
