{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <div id="card-container" class="d-flex flex-column align-items-center text-center">
        <div class="ht-secondary my-2">
            <p id="card-count">CARD 1/4</p>
        </div>
        <div class="d-flex align-items-center">
            <button id="prev" class="btn btn-link text-primary mx-4" onclick="navigate(-1)">
                <i class="fas fa-arrow-circle-left fa-2x"></i>
            </button>
            <div id="card" class="game-card ht-secondary">
                <!-- Card Content Will Go Here -->
            </div>
            <button id="next" class="btn btn-link text-primary mx-4" onclick="navigate(1)">
                <i class="fas fa-arrow-circle-right fa-2x"></i>
            </button>
        </div>
        <div class="ht-secondary my-2">
            <p id="hidden-ties">HIDDEN TIES</p>
        </div>
    </div>

    <script>
        var cards = [
            "{{ url_for('static', filename='cards/guide/how-to-play.html') }}",
            "{{ url_for('static', filename='cards/guide/who-you-play-with.html') }}",
            "{{ url_for('static', filename='cards/guide/what-to-expect.html') }}",
            "{{ url_for('static', filename='cards/guide/no-limit.html') }}",
            "{{ url_for('static', filename='cards/guide/find-connections.html') }}",
            "{{ url_for('static', filename='cards/guide/honesty-disclaimer.html') }}",
            "{{ url_for('static', filename='cards/guide/ready-to-play.html') }}"
        ];
        var currentIndex = 0;

        const cardCountElement = document.getElementById('card-count');

        function navigate(direction) {
            var nextIndex = currentIndex + direction;

            if (nextIndex < 0) {
                nextIndex = 0; // Don't go beyond the first card
            } else if (nextIndex >= cards.length) {
                nextIndex = cards.length - 1; // Don't go beyond the last card
            }

            currentIndex = nextIndex;
            showCard();
        }

        function showCard() {
            cardCountElement.innerText = "CARD " + (currentIndex + 1) + "/" + cards.length;

            // Use the fetch function to load the HTML from the static file
            fetch(cards[currentIndex])
                .then(response => response.text())
                .then(html => {
                    document.getElementById('card').innerHTML = html;
                })
                .catch(error => {
                    console.error('Error loading card:', error);
                    document.getElementById('card').innerText = 'Error loading content. Please refresh the page.';
                });
        }

        showCard(); // Show the first card on page load
    </script>

{% endblock %}
