{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">
        <div class="text-center text-white my-5">

            <!-- Header -->
            <div class="jumbotron jumbotron-fluid text-light my-5">
                <div class="container">
                    <h1 class="display-4 ht-primary">Disclaimer</h1>
                </div>
            </div>

            <div class="ht-secondary fs-3" style="text-align: left;">
                <p class="lead mx-auto text-center" style="color: var(--theme02);">
                    <strong class="ht-primary">Please Read Carefully</strong>
                </p>

                <ol>
                    <li>
                        <strong class="ht-primary">Game Content</strong>
                        <p>
                            Social House is an online card game designed for entertainment purposes only. It includes
                            bonding
                            questions, challenges, truths, and dares to encourage social interaction and fun among
                            players.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Player Consent</strong>
                        <p>
                            By participating in Social House, you acknowledge that you are voluntarily choosing to
                            engage in
                            the
                            game. You have the right to decline any question, challenge, truth, or dare that makes you
                            uncomfortable
                            or goes against your personal values.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Player Responsibility</strong>
                        <p>
                            Players are responsible for their own actions and decisions during the game. It is important
                            to
                            maintain
                            a respectful and safe environment for all participants. Please exercise discretion and
                            consider
                            the
                            feelings and boundaries of others.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Age Restrictions</strong>
                        <p>
                            Social House is intended for players who are of legal age in their respective jurisdictions.
                            If
                            you are
                            under the legal age in your region, you should not participate in this game.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Game Moderation</strong>
                        <p>
                            We strongly advise that an experienced moderator or responsible adult be present when Social
                            House is
                            played, especially in settings involving minors or sensitive topics.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Respect and Consent</strong>
                        <p>
                            Always prioritize respect for others' boundaries and consent. Do not pressure or coerce
                            anyone
                            into
                            participating in activities they are uncomfortable with. If someone declines a challenge or
                            request,
                            please respect their decision without judgment.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Drinking and Substance Use</strong>
                        <p>
                            If your version of Social House includes alcoholic beverages or substances, please consume
                            them
                            responsibly and in moderation. Never consume alcohol or any substance in excess, and do not
                            drive under
                            the influence.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Emotional Well-being</strong>
                        <p>
                            Some questions, challenges, truths, or dares may touch on personal and emotional topics. Be
                            aware of
                            your emotional well-being and take breaks if needed. Seek support from friends or
                            professionals
                            if you
                            encounter distressing situations.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Liability</strong>
                        <p>
                            The creators and publishers of Social House are not liable for any consequences resulting
                            from
                            the game,
                            including personal, emotional, or physical issues that may arise during or after gameplay.
                        </p>
                    </li>

                    <li>
                        <strong class="ht-primary">Have Fun Responsibly</strong>
                        <p>
                            Social House is meant to be a source of enjoyment and connection. Please play responsibly,
                            and
                            remember
                            that the primary goal is to have fun and strengthen social bonds.
                        </p>
                    </li>
                </ol>

                <p>
                    By participating in Social House, you agree to abide by these guidelines and understand the nature
                    of the game. If you have any concerns or questions about the game's content or rules, please seek
                    clarification from the game's organizers or moderators.
                </p>

                <p class="text-center" style="color: var(--theme02);">
                    Thank you for playing Social House responsibly and respectfully.
                </p>
            </div>

        </div>
    </div>

{% endblock %}
