{% extends 'base.html' %}

{% block title %}Play{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">


        <div id="card-container" class="d-flex flex-column align-items-center text-center my-4">
            <div class="ht-secondary my-2">
                <p id="card-count">CARD 0/0</p>
            </div>
            <div class="d-flex align-items-center">
                <button id="prev" class="btn btn-link text-primary mx-4 d-none d-md-block" onclick="navigate(-1)">
                    <i class="fa-solid fa-chevron-left" style="font-size: 10vh;"></i>
                </button>
                <div id="card" class="game-card ht-secondary">
                    <p id="card-text"></p>
                </div>
                <button id="next" class="btn btn-link text-primary mx-4 d-none d-md-block" onclick="navigate(1)">
                    <i class="fa-solid fa-chevron-right" style="font-size: 10vh;"></i>
                </button>
            </div>
            <div class="ht-secondary my-2">
                <p id="hidden-ties">SOCIAL HOUSE</p>
            </div>
        </div>
    </div>

    <script>
        const cards = {{ cards|tojson }};
        const numCards = cards.length;
        let currentIndex = 0;

        const cardCountElement = document.getElementById('card-count');
        const hiddenTiesElement = document.getElementById('hidden-ties');
        const cardTextElement = document.getElementById('card-text');

        function navigate(direction) {
            var nextIndex = currentIndex + direction;

            if (nextIndex < 0) {
                currentIndex = -1; // Set a special index for "No previous card"
            } else if (nextIndex >= numCards) {
                currentIndex = numCards; // Set a special index for "No further cards"
            } else {
                currentIndex = nextIndex; // Normal navigation
            }

            showCard();
        }

        function showCard() {
            if (currentIndex === -1) {
                cardTextElement.innerText = "No previous card";
                cardTextElement.className = "ht-primary";
            } else if (currentIndex === numCards) {
                cardTextElement.innerText = "No further cards";
                cardTextElement.className = "ht-primary";
            } else {
                cardCountElement.innerText = "CARD " + (currentIndex + 1) + "/" + numCards;
                cardTextElement.innerText = cards[currentIndex];
                cardTextElement.className = "ht-secondary";
            }
        }

        showCard(); // Show the first card on page load
    </script>

    <script src="{{ url_for('static', filename='js/card-hover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swipe-functionality.js') }}"></script>

{% endblock %}
