{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">
        <div class="text-center text-white my-5">

            <!-- Header -->
            <div class="jumbotron jumbotron-fluid text-light my-5">
                <div class="container">
                    <h1 class="display-4 ht-primary">Privacy Policy</h1>
                </div>
            </div>

            <div class="ht-secondary fs-3" style="text-align: left;">
                <p class="lead mx-auto text-center" style="color: var(--theme02);">
                    <strong class="ht-primary">Please Read Carefully</strong>
                </p>

                <p>
                    We value your privacy and are committed to protecting your personal information. This Privacy Policy
                    explains how we collect, use, and safeguard your data while using our online card game.

                    <br><br>
                    <strong class="ht-primary">Information Collection</strong>
                    <br>
                    We may collect personal information when you use our game, including but not limited to your name,
                    email address, and user preferences. We may also collect non-personal information, such as device
                    information and usage statistics.

                    <br><br>
                    <strong class="ht-primary">Use of Information</strong>
                    <br>
                    Your information may be used for game functionality, including player identification and game
                    progress tracking. We may also use your data to improve our game and provide a better user
                    experience.

                    <br><br>
                    <strong class="ht-primary">Data Security</strong>
                    <br>
                    We take appropriate measures to protect your data, but please be aware that no online data
                    transmission is completely secure. By using Social House, you acknowledge and accept this risk.

                    <br><br>
                    <strong class="ht-primary">Third-Party Services</strong>
                    <br>
                    Our game may incorporate third-party services or links. These services have their privacy policies,
                    which you should review before using them. We are not responsible for the practices of these
                    third-party services.

                    <br><br>
                    <strong class="ht-primary">Children's Privacy</strong>
                    <br>
                    Social House is not intended for children under the age of 13. We do not knowingly collect or
                    maintain personal information from children.

                    <br><br>
                    <strong class="ht-primary">Changes to Privacy Policy</strong>
                    <br>
                    We reserve the right to update this Privacy Policy as needed. Any changes will be posted on this
                    page, and it is your responsibility to review the policy periodically.

                    <br><br>
                    <strong class="ht-primary">Contact Us</strong>
                    <br>
                    If you have any questions or concerns regarding this Privacy Policy, please contact us at
                    [support@neonaut.io].

                    By using Social House, you consent to this Privacy Policy and our data collection practices. Please
                    play responsibly and enjoy the game.

                    Thank you for choosing Social House.
                </p>

                <p class="text-center ht-primary" style="color: var(--theme02);">
                    Effective Date: September 30, 2023
                </p>
            </div>

        </div>
    </div>

{% endblock %}
